# Dependencies
**/node_modules
**/.pnpm-store

# Build outputs
**/dist
**/dist-ssr
**/*.local

# Logs
**/logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
**/tmp/
__debug_bin*

# Editor and OS files
.vscode/*
!.vscode/extensions.json
.idea/
**/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
**/*.tsbuildinfo

# Environment files
**/.env*

# Go workspace file
go.work
go.work.sum

# Docker volumes
docker-volumes/ 